
  
h3 + section.kysymys {
  margin-top: 1em;
}

.kohdealue {
  p {
    font-size: 16px;
  }
  
  h3 {
    padding: .5em;
    background-color: $lightest-primary;
    color: $darker-gray;
    margin-top: 0;
    border-top: 5px solid $lighter-primary;
    position:relative;
    z-index:2;
  }
  
  .vapaatekstivastaus {
    overflow: hidden;
    display: block;
    width: 100%;

    textarea {
      border-width: 1px;
      margin-bottom: 1em;
      position: relative;
      bottom: 0;
    }
  }

  .kysymys {
    padding-left: 1em;
    clear: both;
    display: block;
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid $lightest-gray;
  }
  .kysymys:last-child {
    border: 0;
  }

  .vastaus_valinnat {
    overflow: auto;
    margin-top: 1em;
    padding-left: 0;

    .valinnat-container {
      float: left;
      overflow: visible;
      margin-right: 2em;
      &:last-child {
        margin-right: 0;
      }
      
      &.vapaateksti {
        @media (min-width: $screen-md-min) {
          width: 42%;
        }
        @media (max-width: $screen-sm-max) {
          clear:left;
          width: 100%;
        }
      }
    }

    label {
      margin: 0;
      font-size: 1.71428571428571em; /* 24px */
      font-weight: normal;
      line-height: 100%;
      background-color: $lightest-gray;
      float: left;
      border-radius: 50%;
      height: 2em;
      width: 2em;
      vertical-align: top;
      text-align: center;
      padding: .5em 0px 0px 0px;
      margin-right: .7em;
      margin-bottom: 1.7em;
      color: $gray-color;
      position: relative;
      &:last-child {
        margin-right: 0;
      }
      .asteikkoteksti {
        font-size: 0.4166666667em;
        color: $darker-gray;
        line-height: 1.2em;
        width: 6em;
        display: block;
        position: absolute;
        margin-left: -3em;
        left: 50%;
        top: 5em;
      }
      input {
        visibility: hidden;
        position: absolute;
        z-index: -100;
        top: 0;
        left: 0;
      }
      &:hover {
        background-color: $lightest-gray;
        cursor: pointer;
        color: $darker-gray;
      }
      &:active{
        background-color: $primary-color !important;
        color: white;
      }
      &.vapaateksti-toggle {

      }
      &.eos {
        /* margin-left: 1.9em; */
        width: 9em;
        border-radius: 2.66666666666667em;
        padding: 0 1em 0 1em;
        font-size: 1em;
        height: 2.42857142857143em; /* 46px */
        line-height: 2.42857142857143em;
        margin-top: .5em;
      }

      &.checked{
        background-color: $primary-color;
        color: white;
        .asteikkoteksti {
          color: $darker-primary;
        }
        &:hover{
          background-color: $primary-color !important;
          color: #ffffff;
        }
      }
    }
  }
}

h3.edistyminen {
  padding: .5em;
  background-color: $lightest-primary;
  color: $darker-gray;
  margin-top: 0;
  border-top: 5px solid $lighter-primary;
  position:relative;
  
  .btn {
    position:absolute;
    right:0;
    top:0;
  }
}

.arvio {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 100%;
  background-color: $lightest-gray;
  float: left;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  vertical-align: top;
  text-align: center;
  padding: .5em 0px 0px 0px;
  margin-right: 0em;
  margin-bottom: 0em;
  color: $darker-gray;
  position: relative;
}