server.port = {{ osaan_server_port }}
server.base-url = {{ osaan_server_base_url }}
db.host = {{ osaan_db_host }}
db.port = {{ osaan_db_port }}
db.name = {{ osaan_db_name }}
db.user = {{ postgres_app_user }}
db.password = {{ osaan_db_app_password }}
development-mode = false
eraajo = true
