<ohje tunniste="arviointi"></ohje>

<polku></polku>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{ 'arviointi.arvioi_osaamisesi' | translate }} - {{ tutkinto | lokalisoiKentta:'nimi' }}</h3>
  </div>
  <div class="panel-body">
    <h3 class="edistyminen" sticky-header top="0">
      {{ tutkinnonosatById[tutkinnonosa] | lokalisoiKentta:'nimi' }} – {{'arviointi.arvioitu' | translate}} {{arvioidut.length}} / {{kohteet.length}}
      <button class="btn btn-primary" role="button" ng-click="sivunLoppuun()">
        {{ 'yleiset.sivun_loppuun' | translate}}&nbsp;
        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>&nbsp;
      </button>
    </h3>

    <div class="alert alert-warning" role="alert" ng-if="kohdealueet === undefined || kohdealueet.length === 0" translate="arviointi.ei_kohteita"></div>

    <section class="kohdealue" ng-repeat="kohdealue in kohdealueet">
      <h3 sticky-header top="40">{{ kohdealue | lokalisoiKentta:'nimi' }}</h3>

      <section class="kysymys" ng-repeat="kuvaus in kohdealue.kuvaukset">
        <p>{{ kuvaus | lokalisoiKentta:'nimi' }}</p>
        <div class="vastaus_valinnat">
          <div class="valinnat-container arvosanat">
            <label ng-repeat="vaihtoehto in [1,2,3,4]" style="display: block;" ng-class="{checked: arviot[kuvaus.ammattitaidonkuvaus_id].arvio == vaihtoehto}">
              <input type="radio" ng-model="arviot[kuvaus.ammattitaidonkuvaus_id].arvio" ng-value="vaihtoehto">
              {{ vaihtoehto }}
              <span class="asteikkoteksti">{{ 'arviointi.asteikko'+vaihtoehto | translate }}</span>
            </label>
          </div>
          <div class="valinnat-container muut">
            <label style="display: block;" class="eos" ng-class="{checked: arviot[kuvaus.ammattitaidonkuvaus_id].arvio === null}">
              <input type="radio" ng-model="arviot[kuvaus.ammattitaidonkuvaus_id].arvio" ng-value="null" />
              {{ 'arviointi.eos' | translate }}
            </label>

            <label style="display: block" class="vapaateksti-toggle" ng-class="{checked: vapaateksti_auki}" ng-click="">
              <input type="checkbox" ng-model="vapaateksti_auki" name="vapaateksti" ng-click="" ng-checked="arviot[kuvaus.ammattitaidonkuvaus_id].vapaateksti" ng-init="vapaateksti_auki = arviot[kuvaus.ammattitaidonkuvaus_id].vapaateksti.length > 0" />
              <span class="glyphicon glyphicon-pencil"></span>
              <span class="asteikkoteksti">{{ 'arviointi.tekstivastaus' | translate }}</span>
            </label>
          </div>
          <div class="valinnat-container vapaateksti">
            <div class="reveal-animation vapaatekstivastaus" ng-if="vapaateksti_auki">
              <textarea ng-model="arviot[kuvaus.ammattitaidonkuvaus_id].vapaateksti" ng-model-options="{debounce: 200}" placeholder="{{ 'arviointi.tekstivastaus_placeholder' | translate }}" rows="4" class="form-control"></textarea>
            </div>
          </div>
        </div>
      </section>
    </section>

    <div ng-if="puuttuukoArvioita()" class="alert alert-warning" role="alert">
      <p translate="arviointi.arvioita_puuttuu"></p>
    </div>

  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-12">

        <div ng-if="seuraavaTutkinnonosa() !== undefined" class="pull-right text-right">
          <button class="btn btn-primary" role="button" ng-click="avaaSeuraavaOsa()">
            {{ 'yleiset.arvioi_osaaminen' | translate}}&nbsp;
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
          </button>
          <div><small>{{ tutkinnonosatById[seuraavaTutkinnonosa()] | lokalisoiKentta:'nimi' }}</small></div>
        </div>

        <button class="btn btn-primary pull-right" role="button" ng-if="seuraavaTutkinnonosa() === undefined" ng-click="siirryRaporttiin()">
          {{ 'arviointi.raportti' | translate}}&nbsp;
          <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
        </button>

        <button class="btn btn-primary pull-left" role="button" ng-if="edellinenTutkinnonosa() === undefined" ng-click="palaaOsienValintaan()">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;
          {{ 'yleiset.valitse_tutkinnon_osat' | translate}}
        </button>

        <div ng-if="edellinenTutkinnonosa() !== undefined" class="pull-left text-left">
          <button class="btn btn-primary" role="button" ng-click="avaaEdellinenOsa()">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;
            {{ 'yleiset.arvioi_osaaminen' | translate}}&nbsp;
          </button>
          <div><small>{{ tutkinnonosatById[edellinenTutkinnonosa()] | lokalisoiKentta:'nimi' }}</small></div>
        </div>
      </div>
    </div>
  </div>
</div>
