<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Arvioi osaamisesi - {{ tutkinto | lokalisoiKentta:'nimi' }}</h3>
  </div>
  <div class="panel-body">
    <h2>{{ tutkinnonosatById[tutkinnonosa] | lokalisoiKentta:'nimi' }}</h2>

    <section class="kohdealue" ng-repeat="kohdealue in kohdealueet">
      <h3>{{ kohdealue | lokalisoiKentta:'nimi' }}</h3>

      <section class="kysymys" ng-repeat="kohde in kohdealue.kohteet">
        <p>{{ kohde | lokalisoiKentta:'nimi' }}</p>
        <div class="vastaus_valinnat">
          <div class="valinnat-container arvosanat">
            <label ng-repeat="vaihtoehto in [1,2,3,4]" style="display: block;" ng-class="{checked: arviot[kohde.arvioinninkohde_id].arvio == vaihtoehto}">
              <input type="radio" ng-model="arviot[kohde.arvioinninkohde_id].arvio" ng-value="vaihtoehto">
              {{ vaihtoehto }}
              <span class="asteikkoteksti">{{ 'arvointi.asteikko'+vaihtoehto | translate }}</span>
            </label>
          </div>
          <div class="valinnat-container muut">
            <label style="display: block;" class="eos" ng-class="{checked: arviot[kohde.arvioinninkohde_id].arvio === null}">
              <input type="radio" ng-model="arviot[kohde.arvioinninkohde_id].arvio" ng-value="null" />
              En osaa sanoa
            </label>

            <label style="display: block" class="needsclick vapaateksti-toggle" ng-class="{checked: vapaateksti_auki}" ng-click="">
              <input type="checkbox" ng-model="vapaateksti_auki" ng-value="false" name="vapaateksti" class="needsclick" ng-click="" />
              <span class="glyphicon glyphicon-pencil"></span>
              <span class="asteikkoteksti">Tekstivastaus</span>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="reveal-animation col-md-5 vapaatekstivastaus" ng-if="vapaateksti_auki">
            <textarea ng-model="arviot[kohde.arvioinninkohde_id].vapaateksti" ng-model-options="{debounce: 200}" placeholder="Kirjoita vastauksesi tähän" rows="4" class="form-control"></textarea>
          </div>
        </div>
      </section>
    </section>

  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-12">

        <div ng-if="seuraavaTutkinnonosa() !== undefined" class="pull-right text-right">
          <button class="btn btn-primary pull-right" role="button" ng-click="avaaSeuraavaOsa()">
            Arvioi osaaminen&nbsp;
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
          </button>
          <div><small>{{ tutkinnonosatById[seuraavaTutkinnonosa()] | lokalisoiKentta:'nimi' }}</small></div>
        </div>

        <button class="btn btn-primary pull-right" role="button" ng-if="seuraavaTutkinnonosa() === undefined" ng-click="siirryRaporttiin()">
          Näytä raportti&nbsp;
          <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
        </button>

        <button class="btn btn-primary pull-left" role="button" ng-if="edellinenTutkinnonosa() === undefined" ng-click="palaaOsienValintaan()">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;
          Valitse tutkinnon osat
        </button>

        <div ng-if="edellinenTutkinnonosa() !== undefined" class="pull-left text-left">
          <button class="btn btn-primary pull-left" role="button" ng-click="avaaEdellinenOsa()">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;
            Arvioi osaaminen&nbsp;
          </button>
          <div><small>{{ tutkinnonosatById[edellinenTutkinnonosa()] | lokalisoiKentta:'nimi' }}</small></div>
        </div>
      </div>
    </div>
  </div>
</div>
