<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{ 'raportti.otsikko' | translate }} - {{ tutkinto | lokalisoiKentta:'koulutusala_nimi' }} - {{ tutkinto | lokalisoiKentta:'opintoala_nimi' }} - {{ tutkinto | lokalisoiKentta:'nimi' }}
    </h3>
  </div>
  <div class="panel-body">
    {{ 'raportti.paivays' | translate }}: {{ paivays | date: 'dd.MM.yyyy' }}

    <section class="tutkinnonosa" ng-repeat="tutkinnonosa in tutkinnonosat">
      <h2>{{ tutkinnonosa | lokalisoiKentta:'nimi' }}</h2>

      <section class="kohdealue" ng-repeat="kohdealue in kohdealueet[tutkinnonosa.osatunnus]">
        <h3>{{ kohdealue | lokalisoiKentta:'nimi' }}</h3>

        <table class="raportti table table-striped">
          <thead>
            <tr>
              <th translate="raportti.ammattitaidon_kuvaus"></th>
              <th translate="raportti.arvio"></th>
              <th translate="raportti.kommentti"></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="kuvaus in kohdealue.kuvaukset">
              <td>{{ kuvaus | lokalisoiKentta:'nimi' }}</td>
              <td>{{ arviot[tutkinnonosa.osatunnus][kuvaus.ammattitaidonkuvaus_id].arvio }}</td>
              <td>{{ arviot[tutkinnonosa.osatunnus][kuvaus.ammattitaidonkuvaus_id].vapaateksti }}</td>
            </tr>
          </tbody>
        </table>
      </section>
    </section>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary pull-left" role="button" ng-click="palaaArviointiin()">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;
          {{ 'raportti.palaa_arviointiin' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
