<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      Raportti - {{ tutkinto | lokalisoiKentta:'koulutusala_nimi' }} - {{ tutkinto | lokalisoiKentta:'opintoala_nimi' }} - {{ tutkinto | lokalisoiKentta:'nimi' }}
    </h3>
  </div>
  <div class="panel-body">
    Päiväys: {{ paivays | date: 'dd.MM.yyyy' }}

    <section class="tutkinnonosa" ng-repeat="tutkinnonosa in tutkinnonosat">
      <h2>{{ tutkinnonosa | lokalisoiKentta:'nimi' }}</h2>

      <section class="kohdealue" ng-repeat="kohdealue in kohdealueet[tutkinnonosa.osatunnus]">
        <h3>{{ kohdealue | lokalisoiKentta:'nimi' }}</h3>

        <table>
          <thead>
            <tr>
              <th>Arvioinnin kohde</th>
              <th>Arvio</th>
              <th>Kommentti</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="kohde in kohdealue.kohteet">
              <td>{{ kohde | lokalisoiKentta:'nimi' }}</td>
              <td>{{ arviot[tutkinnonosa.osatunnus][kohde.arvioinninkohde_id].arvio }}</td>
              <td>{{ arviot[tutkinnonosa.osatunnus][kohde.arvioinninkohde_id].vapaateksti }}</td>
            </tr>
          </tbody>
        </table>
      </section>
    </section>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary pull-left" role="button" ng-click="palaaArviointiin()">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;
          Arvioi osaaminen
        </button>
      </div>
    </div>
  </div>
</div>
