<ohje tunniste="raportti"></ohje>

<polku></polku>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{ 'raportti.otsikko' | translate }} - {{ raportti | lokalisoiKentta:'koulutusala_nimi' }} - {{ raportti | lokalisoiKentta:'opintoala_nimi' }} - {{ raportti | lokalisoiKentta:'tutkinto_nimi' }}
    </h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <div class="btn-group" role="group">
            <button class="btn btn-success" ng-model="valittuRaportti" btn-radio="'raportti'">{{ 'raportti.tyyppi_raportti' | translate }}</button>
            <button class="btn btn-success" ng-model="valittuRaportti" btn-radio="'tekstiraportti'">{{ 'raportti.tyyppi_tekstiraportti' | translate }}</button>
          </div>
          <div class="btn-group">
            <form action="api/kaiku" method="post">
              <input type="hidden" name="data" value="{{tekstiRaportti}}">
              <input type="hidden" name="filename" value="raportti.txt">
              <button class="btn btn-default" type="submit" ng-click="estaPoistumisvaroitus()"><span class="glyphicon glyphicon-download-alt"></span> <span translate="raportti.lataa_tekstiraportti"></span></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="valittuRaportti == 'tekstiraportti'">
      <h2 translate="raportti.tyyppi_tekstiraportti"></h2>

      <div class="col-md-12">
        <div class="form-group">
          <textarea class="form-control" ng-model="tekstiRaportti" style="height: 30em; font-family: monospace" readonly></textarea>
        </div>
      </div>
    </div>

    <div ng-if="valittuRaportti == 'raportti'">
      <div class="pull-right">{{ 'raportti.paivays' | translate }}: {{ paivays | date: 'dd.MM.yyyy' }}</div>
      <h2 translate="raportti.otsikko"></h2>

      <h3 translate="raportti.vastausprosentit"></h3>
      <tutkinnonosa-tilastot kaikki-tutkinnonosat="kaikkiTutkinnonosat" otsikko="{{ 'raportti.pakolliset' | translate }}" tutkinnonosat="raportti.tutkinnonosat" tyyppi="pakollinen"></tutkinnonosa-tilastot>
      <tutkinnonosa-tilastot kaikki-tutkinnonosat="kaikkiTutkinnonosat" otsikko="{{ 'raportti.valinnaiset' | translate }}" tutkinnonosat="raportti.tutkinnonosat" tyyppi="valinnainen"></tutkinnonosa-tilastot>

      <h3 translate="raportti.keskiarvot"></h3>
      <div class="col-md-12">
        <kaavio jakauma="jakauma"></kaavio>
      </div>

      <div class="checkbox pull-right">
        <label>
          <input type="checkbox" ng-model="naytaKommentit">
          <span translate="raportti.nayta_kommentit"></span>
        </label>
      </div>

      <section class="tutkinnonosa" ng-repeat="tutkinnonosa in raportti.tutkinnonosat">
        <h2>{{ tutkinnonosa | lokalisoiKentta:'nimi' }}</h2>

        <section class="kohdealue" ng-repeat="kohdealue in tutkinnonosa.kohdealueet">
          <h3>{{ kohdealue | lokalisoiKentta:'nimi' }}</h3>

          <table class="raportti table table-striped table-condensed">
            <thead>
              <tr>
                <th translate="raportti.ammattitaidon_kuvaus" ng-class="{'col-md-5': naytaKommentit, 'col-md-10': !naytaKommentit}" class="tablehead-animate"></th>
                <th translate="raportti.arvio" ng-class="{'col-md-1': naytaKommentit, 'col-md-1': !naytaKommentit}" class="tablehead-animate"></th>
                <th translate="raportti.kommentti" ng-class="{'col-md-6': naytaKommentit, 'col-md-1': !naytaKommentit}" class="tablehead-animate"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="kuvaus in kohdealue.kuvaukset">
                <td>{{ kuvaus | lokalisoiKentta:'nimi' }}</td>
                <td><span class="arvio" ng-if="kuvaus.arvio.arvio">{{ kuvaus.arvio.arvio }}</span></td>
                <td ng-class="{'text-center': !naytaKommentit, 'text-italic': naytaKommentit}">
                  <a popover="{{ kuvaus.arvio.vapaateksti | limitTo:250 }}{{ kuvaus.arvio.vapaateksti.length > 250 ? '...' : '' }}" popover-placement="left" popover-trigger="mouseover" ng-if="!naytaKommentit && kuvaus.arvio.vapaateksti">
                    <span class="glyphicon glyphicon-comment" style="font-size: 2em;"></span>
                  </a>
                  <em ng-if="naytaKommentit" ng-bind="kuvaus.arvio.vapaateksti"></em>
                </td>
              </tr>
            </tbody>
          </table>
        </section>
      </section>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary pull-left" role="button" ng-click="palaaArviointiin()">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;
          {{ 'raportti.palaa_arviointiin' | translate }}
        </button>
        <tallennus></tallennus>
      </div>
    </div>
  </div>
</div>
