<ohje tunniste="etusivu"></ohje>

<div translate="etusivu.teksti" style="white-space: pre-wrap"></div>
<br />
<polku></polku>

<vastaukset-muistissa></vastaukset-muistissa>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title" translate="tutkinto.otsikko"></h3>
  </div>
  <div class="panel-body">

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label translate="etusivu.tutkinnon_nimi" for="tutkinnon-nimi"></label>
          <input type="text" class="form-control e2e-tutkinnon-nimi" id="tutkinnon-nimi" placeholder="{{ 'etusivu.tutkinnon_nimi_placeholder' | translate }}" ng-model="haku.tutkinto" ng-model-options="{debounce: 500}">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label translate="etusivu.opintoala" for="opintoala"></label>
        <select ng-model="haku.opintoala" id="opintoala" class="form-control">
          <option></option>
          <optgroup ng-repeat="koulutusala in koulutusalat" label="{{ koulutusala | lokalisoiKentta:'nimi' }}">
            <option ng-repeat="opintoala in koulutusala.opintoalat" value="{{ opintoala.opintoalatunnus }}">{{ opintoala | lokalisoiKentta:'nimi' }}</option>
          </optgroup>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="haku.voimaantulevat" name="voimaantulevat" value="false">
            {{ 'tutkinto.voimaantulevat' | translate }}
          </label>
        </div>

        <strong style="margin-bottom: -10px;" translate="tutkinto.tyyppi"></strong>

        <div class="radio" style="margin-top: 0;">
          <label>
            <input type="radio" ng-model="haku.tutkintotyyppi" name="tutkintotyyppi" value="perustutkinto">
            {{ 'tutkinto.tyyppi_perustutkinto' | translate }}
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" ng-model="haku.tutkintotyyppi" name="tutkintotyyppi" value="ammattitutkinto">
            {{ 'tutkinto.tyyppi_ammattitutkinto' | translate }}
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" ng-model="haku.tutkintotyyppi" name="tutkintotyyppi" value="erikoisammattitutkinto">
            {{ 'tutkinto.tyyppi_erikoisammattitutkinto' | translate }}
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" ng-model="haku.tutkintotyyppi" name="tutkintotyyppi" value="kaikki" ng-checked="true">
            {{ 'tutkinto.tyyppi_kaikki' | translate }}
          </label>
        </div>
      </div>
    </div>

    <div ng-if="tutkinnot === undefined">
      <span class="fa fa-spinner fa-spin fa-2x"></span>
    </div>

    <h3 ng-if="tutkinnot.length == 0">{{ 'tutkinto.ei_loytynyt' | translate }}</h3>
    <div class="alert alert-warning" role="alert" ng-if="tutkinnot.length == 0">
      <span translate="tutkinto.vanha_osaanfi"></span> <a href="{{ 'tutkinto.vanha_osaanfi_osoite' | translate}}" translate="tutkinto.vanha_osaanfi_osoite"></a>
    </div>

    <div ng-if="tutkinnot.length > 0" class="list-group" style="margin-top: 10px;">
        <h3>{{tutkinnot.length}} {{ 'yleiset.hakutulosta' | translate }}</h3>
        <div ng-repeat="tutkinto in tutkinnot" class="list-group-item e2e-haettu-tutkinto" href="#/osien-valinta?tutkinto={{tutkinto.tutkintotunnus}}&peruste={{tutkinto.peruste_id}}">
<div class="row">
          <div class="col-md-6">
            <h4 class="list-group-item-heading">{{ tutkinto | lokalisoiKentta:'nimi' }} ({{ 'tutkinto.peruste_tyyppi_'+tutkinto.peruste_tyyppi | translate }})</h4>

            <p class="list-group-item-text">
              <eperusteet-linkki kieli="{{kieli}}" eperustesivu="tiedot" eperustetunnus="{{tutkinto.peruste_eperustetunnus}}" eperustetyyppi="{{tutkinto.peruste_tyyppi}}" tutkintotunnus="{{tutkinto.tutkintotunnus}}" tutkintonimi="{{ tutkinto | lokalisoiKentta:'nimi' }}"></eperusteet-linkki>
            </p>
          </div>
          <div class="col-md-4">
            <ul>
              <li ng-repeat="nimike in tutkinto.tutkintonimikkeet | orderByLokalisoitu:'nimi'">{{nimike | lokalisoiKentta:'nimi'}}</li>
            </ul>
          </div>
          <div class="col-md-2">
            <a class="btn btn-primary pull-right" href="#/osien-valinta?tutkinto={{tutkinto.tutkintotunnus}}&peruste={{tutkinto.peruste_id}}">
              <span translate="yleiset.valitse_tutkinto"></span>
              <span class="glyphicon glyphicon-arrow-right"></span>
            </a>
          </div>
        </div>
        </div>
    </div>

  </div>
</div>