<ohje tunniste="etusivu"></ohje>

<div translate="etusivu.teksti"></div>
<br />

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Aloita etsimällä ja valitsemalla haluamasi tutkinto</h3>
  </div>
  <div class="panel-body">

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label translate="etusivu.tutkinnon_nimi" for="tutkinnon-nimi"></label>
          <input type="text" class="form-control e2e-tutkinnon-nimi" id="tutkinnon-nimi" placeholder="{{ 'etusivu.tutkinnon_nimi_placeholder' | translate }}" ng-model="haku.tutkinto" ng-model-options="{debounce: 500}">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label translate="etusivu.opintoala" for="opintoala"></label>
        <select ng-model="haku.opintoala" id="opintoala" class="form-control">
          <option></option>
          <optgroup ng-repeat="koulutusala in koulutusalat" label="{{ koulutusala | lokalisoiKentta:'nimi' }}">
            <option ng-repeat="opintoala in koulutusala.opintoalat" value="{{ opintoala.opintoalatunnus }}">{{ opintoala | lokalisoiKentta:'nimi' }}</option>
          </optgroup>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">

        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="naytavoimaantulevat" value="false">
            Näytä myös voimaantulevat
          </label>
        </div>

        <strong style="margin-bottom: -10px;">Tutkintotyyppi</strong>
        <div class="radio" style="margin-top: 0;">
          <label>
            <input type="radio" ng-model="haku.tutkintotyyppi" name="tutkintotyyppi" value="erikoisammattitutkinto" checked>
            Erikoisammattitutkinto
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" ng-model="haku.tutkintotyyppi" name="tutkintotyyppi" value="perustutkinto">
            Perustutkinto
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" ng-model="haku.tutkintotyyppi" name="tutkintotyyppi" value="ammattitutkinto">
            Ammattitutkinto
          </label>
        </div>
      </div>
    </div>

    <div class="list-group">
        <a ng-repeat="tutkinto in tutkinnot" class="list-group-item e2e-haettu-tutkinto" href="#/osien-valinta?tutkinto={{tutkinto.tutkintotunnus}}&peruste={{tutkinto.peruste_diaarinumero}}" role="button" ng-click="tyhjennaValitutOsatunnukset()">
          <h4 class="list-group-item-heading pull-left">{{ tutkinto | lokalisoiKentta:'nimi' }}&nbsp;({{tutkinto.peruste_tyyppi}})</h4> &nbsp;&nbsp;
          <span class="glyphicon glyphicon-arrow-right pull-right" aria-hidden="true"></span>
          <p class="list-group-item-text">
            <eperusteet-linkki kieli="{{kieli}}" eperustetunnus="{{tutkinto.peruste_eperustetunnus}}" eperustetyyppi="{{tutkinto.peruste_tyyppi}}" tutkintotunnus="{{tutkinto.tutkintotunnus}}"></eperusteet-linkki>
          </p>
        </a>
    </div>

  </div>
</div>




