<div translate="etusivu.teksti"></div>

<fieldset class="search-field">
    <label translate="etusivu.tutkinnon_nimi"></label>
    <input type="text" placeholder="{{ 'etusivu.tutkinnon_nimi_placeholder' | translate }}" ng-model="tutkinto">
</fieldset>

<fieldset>
    <label translate="etusivu.opintoala"></label>
    <select>
        <optgroup ng-repeat="koulutusala in koulutusalat" label="{{ koulutusala | lokalisoiKentta:'koulutusala_nimi' }}">
            <option ng-repeat="opintoala in koulutusala.opintoalat" value="{{ opintoala.opintoala_tkkoodi }}">{{ opintoala | lokalisoiKentta:'opintoala_nimi' }}</option>
        </optgroup>
    </select>
</fieldset>
