.progress {
  position: relative;
  overflow: visible;
  z-index: 1;
  min-width: 18em;
  max-width: 90%;
  margin-bottom: 0;
}

.kaavio-container{
  position: relative;
  padding-bottom: 6em;
}

.arvo {
  display: block;
  position: absolute;
  top: .1em;
  right: -2.5em;
  color: $darker-gray;
}

.kaavio-viiva{
  position: absolute;
  border-right: 1px solid $lightest-gray;
  height: 4em;
  width: 1px;
  top: 0;
  z-index: -1;

  &.last {
    height: 3em;
  }

  .arvio {
    position: relative;
    margin-top: 2em;
    margin-left: -1em;

    .asteikkoteksti {
      font-size: .75em;
      width: 5.7em;
      height: 2em;
      display: block;
      margin-left: -1.6em;
      text-align: center;
      margin-top: 0.7em;
    }
  }
}