.kaavio {
  fill: $darker-gray;
  font-size: 0.8em;
  overflow: visible !important;

  .kaavio-palkin-otsikko {
    fill: $lighter-gray;
    text-anchor: middle;
  }

  .kaavio-palkin-vari-0 {
    fill: $lighter-primary;
  }

  .kaavio-palkin-vari-1 {
    fill: $lightest-primary;
  }

  .kaavio-viiva {
    stroke: $lighter-gray;
  }

  .kaavio-viivan-otsikko {
    fill: $lighter-gray;
    text-anchor: end;
  }
}
