.kaavio {
  fill: $darker-gray;
  font-size: 1em;
  overflow: visible !important;

  max-width: 65%;

  .kaavio-palkin-vari-0 {
    fill: $lighter-primary;
  }

  .kaavio-palkin-vari-1 {
    fill: $lightest-primary;
  }

  .kaavio-viiva {
    stroke: $lighter-gray;
  }

  .kaavio-palkin-otsikko,
  .kaavio-palkin-keskiarvo{
    font-family: "Open Sans";
    stroke-width: 0;
    font-size: 14px;
  }

  .kaavio-palkin-otsikko{
    fill: $darkest-gray;
  }

  .kaavio-palkin-keskiarvo{
    fill: $darker-gray;
  }

  .kaavio-viivan-otsikko {
    fill: $gray-color;
    font-size: 1.71428571428571em; /* 24px */
    font-weight: normal;
    text-anchor: end;
  }

  .kaavio-viivan-otsikon-tausta {
    fill: $lightest-gray;
  }
}
