@media only screen and (max-width: 1000px) {
  .kaavio {
    max-width: 90%;
  }
}

@media only screen and (max-width: 750px) {
  #oph-logo {
    width: 30%;
  }
  header h1 {
    font-size: 1.5em;
  }
  footer .copyright .app-wrapper {
    background-size: 30% 30%;
  }
  fieldset, .search-field {
    width: 70%;
  }
  div.table-cell {
    padding: 3px 5px;
    min-width: 30px;
  }

  /* Pagination styles for small screen */
  .pagination li a {
    margin-right: 2px;
  }
  .pagination li:first-child + li + li + li a {
    padding-right: 27px;
  }
  .pagination li:first-child + li + li + li a:after {
    margin-left: 5px;
  }
  .pagination li:first-child a:before {
    margin-left: -21px;
  }
  .pagination li:first-child a {
    padding-left: 33px;
  }
  .ohje .ohje-popup {
    width: 315px;
    font-size: 0.85714285714286em;
  }
  .kaavio {
    max-width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  #oph-logo {
    position: absolute;
    top: 5px;
    right: 0px;
    height: 30px;
  }
  fieldset, .search-field {
    width: 100%;
  }
  .sivut {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: .5em;
  }
}
