<polku></polku>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{ 'tutkinto_osa.valitse' | translate }}</h3>
  </div>
  <div class="panel-body">

    <h2>{{ tutkinto | lokalisoiKentta:'nimi' }}</h2>

    <eperusteet-linkki kieli="{{kieli}}" eperustesivu="rakenne" eperustetunnus="{{tutkinto.peruste_eperustetunnus}}" eperustetyyppi="{{tutkinto.peruste_tyyppi}}" tutkintotunnus="{{tutkinto.tutkintotunnus}}" tutkintonimi="{{ tutkinto | lokalisoiKentta:'nimi' }}"></eperusteet-linkki>

    <h3 ng-if="(tutkinnonosat | filter: {pakollinen: true}).length" translate="osien-valinta.pakolliset_osat"></h3>
    <div ng-repeat="osa in tutkinnonosat | filter: {pakollinen: true}" class="checkbox">
      <label>
        <input type="checkbox" ng-model="valinnat[osa.osatunnus]" ng-click="isValinnatempty()">
        {{ osa | lokalisoiKentta:'nimi' }}
      </label>
    </div>

    <h3 ng-if="(tutkinnonosat | filter: {pakollinen: false}).length" translate="osien-valinta.valinnaiset_osat"></h3>
    <div ng-repeat="osa in tutkinnonosat | filter: {pakollinen: false}">
      <label>
        <input type="checkbox" ng-model="valinnat[osa.osatunnus]" ng-click="isValinnatempty()">
        {{ osa | lokalisoiKentta:'nimi' }}
      </label>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-primary pull-right" ng-click="eteenpain()" ng-disabled="seuraavaTutkinnonosa() === undefined" role="button">
          {{ 'tutkinto_osa.arvioi' | translate}} &nbsp;
          <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
        </button>

        <a class="btn btn-primary pull-left" href="#/" role="button">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;
          {{ 'tutkinto_osa.valitse_tutkinto' | translate}}
        </a>
      </div>
    </div>
  </div>
</div>
