<ohje tunniste="osien-valinta"></ohje>

<huomautukset></huomautukset>

<polku></polku>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{ 'tutkinto_osa.valitse' | translate }}</h3>
  </div>
  <div class="panel-body">

    <h2>{{ tutkinto | lokalisoiKentta:'nimi' }}</h2>

    <div class="panel panel-default">
      <div class="panel-body">
        <p translate="osien-valinta.katso-ohje"></p>
        <eperusteet-linkki kieli="{{kieli}}" eperustesivu="rakenne" eperustetunnus="{{tutkinto.peruste_eperustetunnus}}" eperustetyyppi="{{tutkinto.peruste_tyyppi}}" tutkintotunnus="{{tutkinto.tutkintotunnus}}" tutkintonimi="{{ tutkinto | lokalisoiKentta:'nimi' }}"></eperusteet-linkki>
      </div>
    </div>

    <div class="alert alert-warning" role="alert" ng-if="onkoArvioita()" style="margin-top: 1em">
      <p class="lead">{{ 'osien-valinta.arvioita_on' | translate}}</p>
      <p>
        {{ 'osien-valinta.tyhjenna-teksti' | translate}}  &nbsp;&nbsp;
        <a class="btn btn-sm btn-danger" ng-click="poistaArviot()">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          {{ 'osien-valinta.tyhjenna_arviot' | translate}}
        </a>
      </p>
    </div>
    <div ng-repeat="ala in osaamisalat">
      <h3>{{ala | lokalisoiKentta:'nimi'}}</h3>
      <osalista otsikko="osien-valinta.pakolliset_osat" tutkinnonosat="ala.tutkinnonosat" tyyppi="pakollinen" valinnat="valinnat"></osalista>
      <osalista otsikko="osien-valinta.valinnaiset_osat" tutkinnonosat="ala.tutkinnonosat" tyyppi="valinnainen" valinnat="valinnat"></osalista>
      <osalista otsikko="osien-valinta.yhteiset_osat" tutkinnonosat="ala.tutkinnonosat" tyyppi="yhteinen" valinnat="valinnat"></osalista>
    </div>
    <div ng-if="osaamisalat.length === 0">
      <osalista otsikko="osien-valinta.pakolliset_osat" tutkinnonosat="tutkinnonosat" tyyppi="pakollinen" valinnat="valinnat"></osalista>
      <osalista otsikko="osien-valinta.valinnaiset_osat" tutkinnonosat="tutkinnonosat" tyyppi="valinnainen" valinnat="valinnat"></osalista>
      <osalista otsikko="osien-valinta.yhteiset_osat" tutkinnonosat="tutkinnonosat" tyyppi="yhteinen" valinnat="valinnat"></osalista>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-md-12">
        <div class="tutkinnon-osa-nav pull-right text-right">
          <button class="btn btn-primary pull-right" ng-click="eteenpain()" ng-disabled="seuraavaTutkinnonosa() === undefined" role="button">
            {{ 'yleiset.arvioi_osaaminen' | translate}} &nbsp;
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
          </button>
        </div>

        <div class="tutkinnon-osa-nav pull-left text-left">
          <a class="btn btn-primary pull-left" href="#/" role="button">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;
            {{ 'yleiset.valitse_tutkinto' | translate}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
