/* Print styles */
@media print {
  body {
    font-size: 1.14285714285714em; /* 16px */
  }
  p{
    line-height: 1.5em;
  }
  .no-print, .no-print * {
    display: none !important;
  }
  h1.logo {
    font-size: 1.6em;
    margin-top: .5em;
    margin-left: .5em;
  }
  header {
    height: 8em;
  }
  .panel, .panel-body{
    border: 0;
    padding: 0;
  }
  .panel-heading {
    padding: 0;
  }
  span.arvio {
    font-size: 1em;
  }
  tallennus, button, .btn{
    display: none;
  }
  section.main-content {
    margin-bottom: 0;
  }
  .graafi {
    display: block;
  }
  .progress-bar {
    border: 10px solid #6CC555;
    line-height: 2px;
  }
  section.tutkinnonosa {
    page-break-before: always;
  }
  p.tekstiRaportti {
    page-break-inside: auto;
    font-size: 1em;
    white-space: pre-wrap;
    word-break: normal;
    word-wrap: normal;
    font-family: monospace;
    line-height: 1.3em;
  }
  table.raportti tr th.col-md-6:last-child,
  table.raportti tr th.col-md-5:first-child{
    width: 45%;
  }
  ul.nav.nav-tabs{
    display: none;
  }
  .printhead{
    img {
      height: 4em;
    }
  }
  .popover {
    display: none !important;
  }
}