/* Print styles */
@media print {
  body {
    font-size: 1.2em;
  }
  p{
    line-height: 1.5em;
  }
  .no-print, .no-print * {
    display: none !important;
  }
  h1.logo {
    font-size: 1.6em;
    margin-top: .5em;
    margin-left: .5em;
  }
  header {
    height: 8em;
  }
  .panel, .panel-body{
    border: 0;
    padding: 0;
  }
  .panel-heading {
    padding: 0;
  }
  span.arvio {
    font-size: 1em;
  }
  svg.kaavio {
    transform: scale(.7,.7);
    -ms-transform: scale(.7,.7); /* IE 9 */
    -webkit-transform: scale(.7,.7); /* Safari and Chrome */
    -o-transform: scale(.7,.7); /* Opera */
    -moz-transform: scale(.7,.7); /* Firefox */
  }
  tallennus, button, .btn{
    display: none;
  }
  section.main-content {
    margin-bottom: 0;
  }
  .progress-bar {
    border: 10px solid #6CC555;
    line-height: 2px;
  }
  section.tutkinnonosa {
    page-break-before: always;
  }
  p.tekstiRaportti {
    page-break-inside: auto;
    font-size: 1em;
    white-space: pre-wrap;
    word-break: normal;
    word-wrap: normal;
    font-family: monospace;
    line-height: 1.3em;
  }
  ul.nav.nav-tabs{
    display: none;
  }
  .kaavio{
    max-width: 100%;
    width: 100%;
  }
}