$gray-color: rgb(128,128,128);
$lighter-gray: lighten($gray-color, 20%);
$lightest-gray: lighten($gray-color, 40%);
$darker-gray: darken($gray-color, 20%);
$darkest-gray: darken($gray-color, 40%);


$primary-color: #4B90A6;
$lighter-primary: #77aec0;
$lightest-primary: #a9d6e0;
$darker-primary: #3e798b;
$darkest-primary: #335b6c;
$disabled-primary-color: #a1d8ea;

$primary-action-text: white;