<div class="eperusteet">
  <a href="https://eperusteet.opintopolku.fi/#/{{kieli}}/esitys/{{eperustetunnus}}/{{eperustetyyppi}}/tiedot" target="blank">
    <span class="glyphicon bitmap icon-eperuste" aria-hidden="true"></span>
    {{ 'tutkinto.eperusteet_linkki' | translate }}
  </a><br />
  <a href="http://www.nayttotutkintohaku.fi/{{kieli}}/#/tutkinto/{{tutkintotunnus}}" target="blank">
    <span class="glyphicon bitmap icon-nayttotutkintohaku" aria-hidden="true"></span>
    {{ 'tutkinto.nayttotutkintojenjarjestajat_linkki' | translate }}
  </a>
</div>
