<div class="eperusteet">
  <div>
    <span class="glyphicon glyphicon-question-sign linkkipopover" uib-popover="{{ 'tutkinto.eperusteet_linkki_info' | translate }}" popover-trigger="mouseenter click" popover-placement="right"></span>
    <a href="https://eperusteet.opintopolku.fi/#/{{kieli}}/esitys/{{eperustetunnus}}/{{eperustetyyppi}}/{{eperustesivu}}" target="blank">
      <span class="glyphicon bitmap icon-eperuste" aria-hidden="true"></span>
      {{ 'tutkinto.eperusteet_linkki' | translate }}
    </a>
  </div>
  <div ng-if="eperustetyyppi !== 'naytto'" >
    <span class="glyphicon glyphicon-question-sign linkkipopover" uib-popover="{{ 'tutkinto.koulutustarjonta_linkki_info' | translate }}" popover-trigger="mouseenter click" popover-placement="right"></span>
    <a ng-href="{{opintopolkuUrl}}" target="blank">
      <span class="glyphicon bitmap icon-opintopolku" aria-hidden="true"></span>
      {{ 'tutkinto.koulutustarjonta_linkki' | translate }}
    </a>
  </div>
</div>
