<div class="eperusteet">
  <!-- TODO: Käännkökset -->
  <a href="https://eperusteet.opintopolku.fi/#/{{kieli}}/esitys/{{eperustetunnus}}/{{eperustetyyppi}}/tiedot" target="blank">
    <span class="glyphicon bitmap icon-eperuste" aria-hidden="true"></span>
    Katso tutkinnon perusteet ePerusteet-järjestelmässä
  </a><br />
  <a href="http://www.nayttotutkintohaku.fi/{{kieli}}/#/tutkinto/{{tutkintotunnus}}" target="blank">
    <span class="glyphicon bitmap icon-nayttotutkintohaku" aria-hidden="true"></span>
    Katso näyttötutkintojen järjestäjät
  </a>
</div>
