<svg class="kaavio"
  ng-attr-width="{{viivastonLeveys() + 50}}" ng-attr-height="{{asetukset.palkinMaksimiPituus + 120}}">

  <g transform="translate(50, 40)">
    <line ng-repeat="viiva in viivat"
      class="kaavio-viiva"
      ng-attr-x1="{{0}}"
      ng-attr-y1="{{asetukset.palkinMaksimiPituus * (1 - viiva.paikka)}}"
      ng-attr-x2="{{viivastonLeveys()}}"
      ng-attr-y2="{{asetukset.palkinMaksimiPituus * (1 - viiva.paikka)}}" />

    <line class="kaavio-viiva"
      ng-attr-x1="{{0}}"
      ng-attr-y1="{{0}}"
      ng-attr-x2="{{0}}"
      ng-attr-y2="{{asetukset.palkinMaksimiPituus}}" />
    <line class="kaavio-viiva"
      ng-attr-x1="{{viivastonLeveys()}}"
      ng-attr-y1="{{0}}"
      ng-attr-x2="{{viivastonLeveys()}}"
      ng-attr-y2="{{asetukset.palkinMaksimiPituus}}" />

    <circle ng-repeat-start="viiva in viivat"
      class="kaavio-viivan-otsikon-tausta"
      ng-attr-cx="{{-30}}"
      ng-attr-cy="{{asetukset.palkinMaksimiPituus * (1 - viiva.paikka)}}"
      ng-attr-r="{{23}}">
    </circle>
    <text
      class="kaavio-viivan-otsikko"
      ng-attr-x="{{-24}}"
      ng-attr-y="{{asetukset.palkinMaksimiPituus * (1 - viiva.paikka) + 9}}"
      ng-repeat-end>
      {{viiva.teksti}}
    </text>

    <rect ng-repeat-start="data in jakauma"
      ng-attr-class="{{ 'kaavio-palkin-vari-' + data.vari }}"
      ng-attr-width="{{asetukset.palkinLeveys}}"
      ng-attr-height="{{palkinPituus(data.arvo)}}"
      ng-attr-x="{{paikkaPalkistonSuhteen($index, 0, 0)}}"
      ng-attr-y="{{asetukset.palkinMaksimiPituus - palkinPituus(data.arvo)}}" />
    <text
      class="kaavio-palkin-otsikko"
      ng-attr-x="{{paikkaPalkistonSuhteen($index, 0, 0.5)}}"
      ng-attr-y="{{asetukset.palkinMaksimiPituus + 20}}">
      {{$index + 1}}.
    </text>
    <text
      ng-attr-x="{{0}}"
      ng-attr-y="{{asetukset.palkinMaksimiPituus + 20 * ($index + 3)}}"
      ng-repeat-end>
      {{$index + 1}}. {{ data | lokalisoiKentta:'nimi' }}
    </text>

  </g>
</svg>
