<div class="col-md-12">
  <div ng-if="seuraavaTutkinnonosa() !== undefined" class="tutkinnon-osa-nav pull-right text-right">
    <button class="btn btn-primary pull-right" role="button" ng-click="avaaSeuraavaOsa()">
      {{ 'yleiset.arvioi_osaaminen' | translate}}&nbsp;
      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    </button>
    <div><small ng-if="otsikot">{{ tutkinnonosatById[seuraavaTutkinnonosa()] | lokalisoiKentta:'nimi' }}</small>&nbsp;</div>
  </div>

  <div ng-if="seuraavaTutkinnonosa() === undefined" class="tutkinnon-osa-nav pull-right text-right">
    <button class="btn btn-primary pull-right" role="button" ng-click="siirryRaporttiin()">
      {{ 'arviointi.raportti' | translate}}&nbsp;
      <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
    </button>
    <div><small>&nbsp;</small></div>
  </div>

  <div ng-if="edellinenTutkinnonosa() === undefined" class="tutkinnon-osa-nav pull-left text-left">
    <button class="btn btn-primary pull-left" role="button" ng-click="palaaOsienValintaan()">
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;
      {{ 'yleiset.valitse_tutkinnon_osat' | translate}}
    </button>
    <div><small>&nbsp;</small></div>
  </div>

  <div ng-if="edellinenTutkinnonosa() !== undefined" class="tutkinnon-osa-nav pull-left text-left">
    <button class="btn btn-primary pull-left" role="button" ng-click="avaaEdellinenOsa()">
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>&nbsp;
      {{ 'yleiset.arvioi_osaaminen' | translate}}&nbsp;
    </button>
    <div><small ng-if="otsikot">{{ tutkinnonosatById[edellinenTutkinnonosa()] | lokalisoiKentta:'nimi' }}</small>&nbsp;</div>
  </div>
  
  <div class="sivut">
    <div class="sivu edellinen" ng-repeat="osa in edellisetOsat" ng-click="avaaOsa(osa)"
      popover="{{tutkinnonosatById[osa] | lokalisoiKentta:'nimi'}}" popover-trigger="mouseenter click">
      {{$index + 1}}
    </div>
    <div class="sivu nykyinen" ng-if="edellisetOsat.length > 0 || seuraavatOsat.length > 0">
      {{edellisetOsat.length + 1}}
    </div>
    <div class="sivu seuraava" ng-repeat="osa in seuraavatOsat" ng-click="avaaOsa(osa)"
      popover="{{tutkinnonosatById[osa] | lokalisoiKentta:'nimi'}}" popover-trigger="mouseenter click">
      {{$index + edellisetOsat.length + 2}}
    </div>
    <div class="clear-left"></div>
  </div>
</div>
